@import "./reset.css";
@import "./variables.css";
@import "./padding-margin.css";
@import "./grid.css";
@import "./flex.css";
@import "./fonts.css";
@import "./form.css";
@import "./shared.css";
@import "./responsive.css";


body {
    padding-top: 30px;
    padding-bottom: 30px;
}

.animal-list li {

}

.speak-text {
    text-align: center;
    padding: 30px;
    display: block;
    border-radius: 10px;
    background: var(--mint-green);
}
