:root {
    --dark-green: #2C6E49;
    --forest-green: #4C9A2A;
    --medium-green: #88C057;
    --light-green: #B6E38E;
    --mint-green: #DFF4D8;
    --shadow-1: rgba(0, 0, 0, 0.1) 0 4px 6px -1px, rgba(0, 0, 0, 0.06) 0 2px 4px -1px;
}
